// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "cards";
@import "search";
@import "show";


a {
  color:darkgrey;
}

.text-white {
      margin: 86px;
    margin-bottom: 40px;
}


 h6{
  font-size:20px;
  margin-top:20px;
}
